<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <img src="assets/Ocus_CR.png" alt="Logo" style="width: 100%;" />
    </div>
    <h2><b>Iniciar Sesión</b></h2>
    <form (submit)="onLogin($event)">
      <div class="input-group">
        <input type="text" placeholder="Usuario" id="username" [(ngModel)]="usuario" name="usuario" (ngModelChange)="onInputChange()" required />
      </div>
      <div class="input-group">
        <input 
          [type]="mostrarContrasena ? 'text' : 'password'"
          placeholder="Contraseña"
          id="password"
          [(ngModel)]="contrasena"
          name="contrasena"
          required
          (ngModelChange)="onInputChange()" 
        />
        <button type="button" class="toggle-btn" (click)="mostrarContrasena = !mostrarContrasena">
          <i [class]="mostrarContrasena ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </button>
      </div>
      <div class="warning-message" *ngIf="advertencia">
        {{ advertencia }}
      </div>
      <button type="submit" id="btnLogin">Entrar</button>
    </form>
    <div class="error-message" *ngIf="mensaje" margin-top="15px">
      🚨 {{ mensaje }}
    </div>
    <div class="footer">
      © 2025 Hidromec Bajio. Todos los derechos reservados.
    </div>
  </div>
</div>
